<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453334733585-iu3nf0cefuvho18t5ofjvne99es9jn5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453334733585-iu3nf0cefuvho18t5ofjvne99es9jn5u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>453334733585-9atr5i64im4tkjqn0a84cj8blgoptgc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuQB1j05yy1IvDBlysCgiHJVzi38wGmnI</string>
	<key>GCM_SENDER_ID</key>
	<string>453334733585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thordevelopers.anujeshfinshot</string>
	<key>PROJECT_ID</key>
	<string>newfinshots</string>
	<key>STORAGE_BUCKET</key>
	<string>newfinshots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453334733585:ios:c10e20bc2477a333ca72b0</string>
</dict>
</plist>